[submodule "viz/xmfa/d3-parsets"]
	path = viz/xmfa/d3-parsets
	url = https://github.com/jasondavies/d3-parsets
[submodule "tools/external/tmhmm-2.0c"]
	path = tools/external/tmhmm-2.0c
	url = git@github.tamu.edu:CPT/tmhmm-2.0c.git
[submodule "tools/one_snp_away"]
	path = tools/one_snp_away
	url = https://github.com/TAMU-CPT/one_snp_away
[submodule "tools/464/quizzes"]
	path = tools/464/quizzes
	url = git@github.tamu.edu:CPT/BICH464-Guanine-Quizzes.git
