1       [1] Standard Code
2       [2] Vertebrate Mitochondrial Code
3       [3] Yeast Mitochondrial Code
4       [4] Mold, Protozoan, and Coelenterate Mitochondrial Code and the Mycoplasma/Spiroplasma Code
5       [5] Invertebrate Mitochondrial Code
6       [6] Ciliate, Dasycladacean and Hexamita Nuclear Code
7       [7] Deleted
8       [8] Deleted
9       [9] Echinoderm and Flatworm Mitochondrial Code
10      [10] Euplotid Nuclear Code
11      [11] Bacterial, Archaeal and Plant Plastid Code
12      [12] Alternative Yeast Nuclear Code
13      [13] Ascidian Mitochondrial Code
14      [14] Alternative Flatworm Mitochondrial Code
15      [15] Blepharisma Nuclear Code
16      [16] Chlorophycean Mitochondrial Code
21      [21] Trematode Mitochondrial Code
22      [22] Scenedesmus obliquus mitochondrial Code
23      [23] Thraustochytrium Mitochondrial Code
24      [24] Pterobranchia mitochondrial code
25      [25] Candidate Division SR1 and Gracilibacteria Code
